<nav id="main-navbar" class="hidden-xs hidden-sm">
	<div class="nav hidden-xs">
		<div class="main-reorder pull-right">
			<a href="#">
				<i class="fa fa-bars"></i>
			</a>
		</div>

		<div class="logo pull-left">
			<a href="/">
				<figure>
					<img src="/img/Ilaputi-Logo-Light.png" class="light-logo" alt="{{ site.title }}"/>
					<img src="/img/ilaputi-logo-dark.png" class="dark-logo" alt="{{ site.title }}"/>
				</figure>
			</a>
		</div>
		<div class="main-nav">
			<ul class="pull-right">
				<li>
					<a href="/" class="active active2 active3 active4 active5">home</a>					
				</li>				
				<li>
					<a href="/about" class="">about</a>
					
				</li>
				<li>
					<a href="/news" class="">news</a>
				</li>
				<li>
					<a href="/menu" class="hover-subnav ">menu</a>
					
				</li>	
				<li>
					<a href="/reservation" class="">reservation</a>
				</li>
				<li>
					<a href="/contact" class="">contact</a>	
                </li>
                <li>
					<a href="/gallery" class="">gallery</a>	
				</li>			
			</ul>
		</div>
	</div>
</nav>

<div id="mobile-nav" class="visible-xs visible-sm">
	<header>
		<div class="container-fluid">
			<ul class="menu-header">
				<li class="pull-left">
					<a href="/" class="logo">
						<figure>
							<img src="/img/ilaputi-logo-dark.png" alt="{{ site.title }}"/>
						</figure>
					</a>
				</li>
				<li class="reorder pull-right"><a href="#" title=""><i class="fa fa-bars"></i></a></li>
			</ul>
		</div>
	</header>	
	<div class="" id="flyout-container">
		<ul id="mobile-navbar" class="nav flyout-menu main-nav nav-height">
			<li class="nav-item">
				<a title="" href="/">home</a>
			</li>
			<li class="nav-item">
				<a title="" href="/about">about</a>
			</li>
			<li class="nav-item">
				<a title="" href="/news">news</a>
			</li>
			<li class="nav-item">
				<a title="" href="/menu" class="">Menu</a>
			</li>
			<li class="nav-item">
				<a title="" href="/reservation">Reservation</a>
			</li>
			<li class="nav-item">
				<a title="" href="/contact">Contact</a>
			</li>
			<li class="nav-item">
				<a title="" href="/gallery">Gallery</a>
			</li>
		</ul>
	</div>
</div>