---
layout: none
---

<!DOCTYPE html>
<html>
	{% include head.html %}
    <body class="no-smooth-scroll fullpage-scroll yo-anim-enabled">
		<div class="content-wrapper">
		<!--content-->


{% include nav.html %}


<ul class="page-control hidden-xs">
</ul>
<section id="restaurant" class="main main-section">

	<div class="item section">
		<div class="visible-xs mobile-img"><img src="/img/about_1.png"/></div>
		<div class="container restaurant-content pre-content">
			<div class="row">
				<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 item__description">
					<h1>Asian Soul Food</h1>
					<p>We opened in April 20 of 2002, with the intention of sharing the expression and interpretation of Chef Jan Rodriguez of the flavors of South East Asia and Cebu on a plate, with something familiar yet something entirely new Explore the menu!</p>
				</div>
			</div>
		</div>
		<div class="restaurant-fullscreen bg-section hidden-xs opacity-30" style="background-image: url(/img/about_1.png); left: 0;"></div>
	</div>



	<div class="item section">
		<div class="visible-xs mobile-img"><img src="/img/about_2.png"/></div>
		<div class="container restaurant-content pre-content">
			<div class="row">
				<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 item__description">
					<h1>Attention. Intention.</h1>
					<p>Toasting and grinding of spices to impart the delicate yet robust flavors and aromas of spices in homemade marinades and sauces to extract the soul of Asian flavors for a more flavorful and memorable dining experience.</p>
				</div>
			</div>
		</div>
		<div class="restaurant-fullscreen bg-section hidden-xs opacity-30" style="background-image: url(/img/about_2.png); left: 0;"></div>
	</div>

	<div class="item section">
		<div class="visible-xs mobile-img"><img src="/img/Ilaputi-Team-Mai-04.jpg"/></div>
		<div class="container restaurant-content pre-content">
			<div class="row">
				<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 item__description">
					<h1>We are social beings </h1>
					<p>A family is the most important fundamental unit of society that is brought closer together through food and celebrations, and most importantly, the value appreciation in an unprecedented time like 2020.</p>
				</div>
			</div>
		</div>
		<div class="restaurant-fullscreen bg-section hidden-xs opacity-30" style="background-image: url(/img/Ilaputi-Team-Mai-04.jpg); left: 0;"></div>
	</div>

	<div class="item section">
		<div class="video-wrapper" style="position:absolute; width: 100%; height: 100%; left:0; top: 0; "></div>
		<div id="P1" class="player" style="display:block; margin: auto; background: rgba(0,0,0,0.5);" data-property="{videoURL:'http://youtu.be/dSpQ5zdR4dE',containment:'.video-wrapper',startAt:0,mute:true,autoPlay:true,loop:true,opacity:1, showControls: false}"></div>
		<div class="video-mask hidden-xs"></div>
		<div class="video-controls hidden-xs">
			<div class="pause">
				<i class="icon-control-pause"></i>
			</div>
			<div class="play hidden">
				<i class="icon-control-play"></i>
			</div>
			<div class="fullscreen">
				<i class="icon-size-fullscreen"></i>
			</div>
		</div>
		<div class="container restaurant-content pre-content">
			<div class="row">
				<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 item__description">
					<h1>Craftsmanship of Cooking and Tradition</h1>
					<p>Vivamus lorem purus, sollicitudin ut aliquet at, tincidunt eu risus. Sed congue scelerisque blandit. Aliquam sed semper velit, et mattis massa. Suspendisse interdum semper lacus nec egestas. Fusce eu laoreet sem. </p>
				</div>
			</div>
		</div>
	</div>

</section>

			<div class="gallery-wrapper"></div>

			{% include preloader.html %}
		</div>
		{% include scripts.html %}
	</body>
</html>



